/* style.css */

/* body {
    font-family: Arial, sans-serif;
    background-color: #cc0d0d;
    margin: 0;
    padding: 0;
} */
body {
    font-family: Arial, sans-serif;
     background-color: #cc0d0d;
    background-image: url(' D:\SIAM\CROP\Fertilizers.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
    color: #333;
}

/* Your existing CSS rules remain the same */

.result-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align the content inside the container */
}

